NEXTAUTH_URL=https://APP_HOSTNAME_REPLACEME
NEXTAUTH_SECRET=CHANGE_ME
AUTH_KEYCLOAK_ISSUER=https://keycloak.example.com/realms/ahla
AUTH_KEYCLOAK_CLIENT_ID=ahla-web
AUTH_KEYCLOAK_CLIENT_SECRET=CHANGE_ME_CLIENT_SECRET
NEXT_PUBLIC_NATS_WS_URL=wss://nats.ahla.com:9222
NEXT_PUBLIC_CONTENT_API=https://api.ahla.com
