NEXTAUTH_URL=http://localhost:3002
NEXTAUTH_SECRET=REPLACE_ME
NEXT_PUBLIC_KEYCLOAK_ISSUER=http://localhost:8085/realms/ahla
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=ahla-web
KEYCLOAK_CLIENT_SECRET=REPLACE_ME
NEXT_PUBLIC_DRIVE_API=http://localhost:7002
NEXT_PUBLIC_MINIO_CONSOLE=http://localhost:9001
