NEXTAUTH_URL=http://localhost:3003
NEXTAUTH_SECRET=REPLACE_ME
NEXT_PUBLIC_KEYCLOAK_ISSUER=http://localhost:8085/realms/ahla
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=ahla-web
KEYCLOAK_CLIENT_SECRET=REPLACE_ME
NEXT_PUBLIC_SIGNAL_URL=ws://localhost:7003/ws
NEXT_PUBLIC_TURN=turn:localhost:5349?transport=tcp
NEXT_PUBLIC_TURN_USER=ahla
NEXT_PUBLIC_TURN_PASS=ahla
