NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=REPLACE_ME
NEXT_PUBLIC_KEYCLOAK_ISSUER=http://localhost:8085/realms/ahla
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=ahla-web
KEYCLOAK_CLIENT_SECRET=REPLACE_ME
NEXT_PUBLIC_NATS_WS=ws://localhost:9222
NEXT_PUBLIC_CHAT_API=http://localhost:7001
