# Keycloak / NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=REPLACE_ME_LONG_RANDOM
NEXT_PUBLIC_KEYCLOAK_ISSUER=https://auth.ahla.com/realms/ahla
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=ahla-webmail
KEYCLOAK_CLIENT_SECRET=REPLACE_ME

# Stalwart JMAP endpoint
JMAP_BASE_URL=http://localhost:8080/jmap
# For dev only: service credentials used by provisioning proxy if enabled
STALWART_MGMT_URL=http://localhost:8080
STALWART_API_KEY=REPLACE_ME
